// declaration du font-family
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@800&family=Josefin+Sans:wght@100&family=Nova+Round&display=swap');
// declaration des variables :

$couleur_primaire : #27a397; 
$couleur_shadow : #8fdd52;
$couleur_page : linear-gradient(to right, #000000, #063806);
$color-6: #1e1a29;
$color-7: #140531;
$color-8: #040714;
